.advert {
  border-bottom-width: 1px;
  cursor: pointer;
  display: flex;
  padding: 10px 15px 0 15px;
  transition: background-color 0.5s;
}

.advert:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.advert-header {
  color: rgb(101, 119, 134);
  margin-top: 40px;
  margin-left: 50px;
}

.advert-name {
  color: rgb(20, 23, 26);
  font-weight: bold;
  padding: 0.35rem;
}
